@use '../../style/variables' as *;

.button {
    background-color: $secondaryGreen; 
    color: $light;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: $sageGreen;
      transform: translateY(-2px); 
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
    }

    &:active {
      transform: translateY(1px); 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}