@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$primary: #1E201E;
$secondary: #3C3D37;
$moss: #697565;
$beige: #ECDFCC;

$primaryGreen: #597445;
$secondaryGreen: #658147;
$sageGreen: #729762;
$lightGreen: #E7F0DC;

$light: #f5f5f5;

$font: "Roboto", sans-serif;